<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
        {% load staticfiles %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style>

            .bg1 {
                background-color: lightskyblue;
}
        .bg2{
            background-color: thistle;
        }

    </style>

</head>
<body class="bg2">
<h1>TODO LIST</h1>
    <ul class="bg1">
        {% for i in object_list %}
        <li class="bg1"> <a class="list-group-item" href="{% url 'todo_rest.views.item' i.id %}"> {{ i.name }} </a></li>
        {% endfor %}
    </ul>
</body>
</html>